<div id="uploadDetail">
	<div class="pageBackground"><img src="custom/image/philips/upload/uploadDetail.jpg"></div>
	
	<div class="content-group">
		<div class="content-title">详情信息</div>
		<div class="content-message">
			<p ng-bind="'昵称：'+detail.nickName"></p>
			<p ng-bind="'手机号：'+detail.telephone"></p>
			<p ng-bind="'时间：'+detail.createTime"></p>
			<p ng-bind="'状态：'+detail.applyStatus.text"></p>
			<p ng-hide="order.redpacAmount != 0" ng-bind="'红包：'+order.redpacAmount"></p>
			<p class="screenshot">
				<span ng-repeat="detailImg in screenshotList">
					<img  ng-src="{{detailImg.imgUrl}}">
				</span>
			</p>
			<!-- <p ng-hide=""><label ng-bind="'备注：'"></label></p> -->
		</div>
		
		
	</div>
<!-- 	<div class="close btn" ng-click="closePage()">关闭</div> -->
</div>